<nav aria-label="breadcrumbs">
    <div class="row">
        <div class="small-12 columns">
            <ol class="breadcrumbs">
                <li><a href="https://www.business.gov.au/">Home</a></li>
                <li><a href="https://www.business.gov.au/info/plan-and-start">Plan &amp; Start</a></li>
                <li><a href="https://www.business.gov.au/info/plan-and-start/a-business-or-a-hobby">A business or a hobby?</a></li>
                @if (ViewBag.Title == null)
                {
                <li>Help me work it out</li>
                }
                else
                {
                <li>@Html.ActionLink("Help me work it out", MVC.Home.ActionNames.Index, MVC.Home.Name)</li>
                <li>@ViewBag.Title</li>
                }
            </ol>
        </div>
    </div>
</nav>