<div id="cookies" class="hide">
    <div class="small-12 columns">
        <div class="validation-summary-errors validation-container">
            <div class="validation-summary-icon">
                <img src="@Links.Assets.App.img.ico_alert_red_png" alt="Error">
            </div>
            <div class="validation-message">
                <p>
                    Cookies seem to be disabled on your browser which means this site will not work. Please enable cookies if you wish to continue. Cookies are used in accordance with our privacy policy.
                </p>
            </div>
        </div>
    </div>
</div>



