<section class="navigation-footer-legal">
    <div class="row">
        <div class="columns">
            <ul class="legal">
                <li class="small-only-12">
                    <a href="https://www.business.gov.au/about">About</a>
                </li>
                <li class="small-only-12">
                    <a href="https://www.business.gov.au/for-government">For Government</a>
                </li>
                <li class="small-only-12">
                    <a href="https://www.business.gov.au/legal-notices">Legal notices</a>
                </li>
                <li class="small-only-12">
                    <a href="https://www.business.gov.au/about/accessibility">Accessibility</a>
                </li>
                <li class="small-only-12">
                    <a href="https://www.business.gov.au/about/other-languages">Other languages</a>
                </li>
                <li class="small-only-12">
                    <a href="tel:132846">13 28 46</a>
                </li>
                <li class="small-only-12">
                    <a href="https://www.business.gov.au/contact-us">Contact us</a>
                </li>
            </ul>
            <ul class="social">
                <li>
                    <a class="facebook" href="https://www.facebook.com/business.gov.au">
                        <span class="fa fa-facebook-square"></span>
                        <span class="label show-for-sr">Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/business_gov_au">
                        <span class="fa fa-twitter-square"></span>
                        <span class="label show-for-sr">Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/company/business.gov.au">
                        <span class="fa fa-linkedin-square"></span>
                        <span class="label show-for-sr">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a class="youtube" href="https://www.youtube.com/user/BusinessGovAu">
                        <span class="fa fa-youtube-square"></span>
                        <span class="label show-for-sr">YouTube</span>
                    </a>
                </li>
            </ul>
            <div id="bga-logo-title">
                <a href="https://www.business.gov.au/"><strong>business</strong>.gov.au</a>
            </div>
            <a href="https://www.business.gov.au/" class="logo">
                <img src="@Links.Assets.App.img.bga_logo_footer_png" alt="Business.gov.au logo">
            </a>
        </div>
    </div>
</section>
