@{
    ViewBag.Title = "Error";
    Response.StatusCode = 500;
}

<div class="row">
    <div class="small-12 columns">
        <h1>
            Sorry, we can’t return the page you’re looking for right now.
        </h1>

        <h2>
            We’re having some trouble returning the page you’re looking for. Please try again later.
        </h2>

        <p>
            Need help? Have questions or feedback? Please call <a href="tel:132846">13 28 46</a>.
        </p>
        <a href="javascript:window.history.back();" class="button">Back</a>
    </div>
</div>