<div class="panel user-feedback">
    <div class="rate-this">
        <span class="question-title">Was this helpful?</span>
        <button class="btn" id="yes" aria-label="Yes, this was helpful">Yes</button>
        <button class="btn" id="no" aria-label="No, this was not helpful">No</button>
    </div>
</div>