@{
//Layout = "_Layout.cshtml";

//WebPageHttpHandler.DisableWebPagesResponseHeader = true;
//Response.StatusCode = 404;

//Page.Title = "Page not found";
}

@*@section master {*@
    <div class="error-page row">
        <div class="columns">
            <h1>
                Sorry, page not found
            </h1>

            <h2>
                We can’t find the page you’re looking for. It might have moved, or may not exist.
            </h2>

            <p>
                To find information relevant to your business head back to the
                <a href="/">Home page</a> and have a look around the site!
            </p>

            <p>
                Need help? Have questions or feedback? Please call <a href="tel:132846">13 28 46</a>.
            </p>
        </div>
    </div>
@*  *@}
