@{
//Layout = "_Layout.cshtml";

//WebPageHttpHandler.DisableWebPagesResponseHeader = true;
//Response.StatusCode = 500;

//Page.Title = "Error";
}

@*@section master {*@
    <div class="error-page row">
        <div class="columns">
            <h1>
                Sorry, we can’t return the page you’re looking for right now.
            </h1>

            <h2>
                We’re having some trouble returning the page you’re looking for. Please try again later.
            </h2>

            <p>
                While you’re waiting, head back to the <a href="/">Home page</a>
                and have a look around the site!
            </p>

            <p>
                Need help? Have questions or feedback? Please call <a href="tel:132846">13 28 46</a>.
            </p>

        </div>
    </div>
@*  *@}
