<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Sb.EnvironmentType" value="prod" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Sb.RobotsFile" value="robots.allow.txt" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Sb.FeedbackUrl" value="https://www.business.gov.au/forms/feedback" />
  </appSettings>
</configuration>