<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Sb.AdminPagesEnabled" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace" />
  </system.web>
  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <applicationInitialization  xdt:Transform="Insert">
      <add initializationPage="/" hostName="#{Sb.DeliveryHostName}" />
      <add initializationPage="/Questions" hostName="#{Sb.DeliveryHostName}" />
      <add initializationPage="/Home/Warmup/QN120" hostName="#{Sb.DeliveryHostName}" />
      <add initializationPage="/Results/Unsure" hostName="#{Sb.DeliveryHostName}" />
    </applicationInitialization>
    <staticContent xdt:Transform="Insert">
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security xdt:Transform="Insert">
      #{Sb.WhitelistedIpAddresses}
    </security>
  </system.webServer>
</configuration>
