.results {
    .export-options {
            i {
                padding-right: 5px;
            }

            a {
                padding-right: 5px;
            }
    }

    .accordion {
        margin-bottom: 20px;
    }

    ul.obligation {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}


