@{
    ViewBag.Title = "Bad Request";
    Response.StatusCode = 403;
}

<div class="row">
    <div class="small-12 columns">
        <h1>Sorry, you do not have access to this page</h1>
        <h2>
            You are not authorised to access this page.
        </h2>
        <p>
            Need help? Have questions or feedback? Please call <a href="tel:132846">13 28 46</a>.
        </p>
        <a href="javascript:window.history.back();" class="button">Back</a>
    </div>
</div>
