@{
    ViewBag.Title = "Not Found";
    Response.StatusCode = 404;
}

<div class="row">
    <div class="small-12 columns">
        <h1>
            Sorry, page not found
        </h1>

        <h2>
            We can’t find the page you’re looking for. It might have moved, or may not exist.
        </h2>

        <p>
            Need help? Have questions or feedback? Please call <a href="tel:132846">13 28 46</a>.
        </p>
        <a href="javascript:window.history.back();" class="button">Back</a>
    </div>
</div>