// ----- Layout is containers and ways of joining modules together
// ------------------------------------------------------------------------------------------------------

@media print {
    // set print page margins
    @page {
        margin: .5cm;
    }
    body {
        width: 100%;
        margin: 0;
        line-height: 1.3;
    }
    #wrapper {
        padding-bottom: 0;
    }
    // reset links bga links styling to write in url links for print
    a:not([href*="business.gov.au"])[href*="//"]:after {
        content: " (" attr(href) ")";
        display: inline;
        padding-left: 0;
        font-family: $font-light;
    }
    header{
        display: block;
        #bga-logo {
            width: 300px !important;
            max-width: 300px !important;
        }
    }

    h1, fieldset legend {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.1rem !important;
        margin-top: 1rem;
    }

    h3, .accordion .accordion-navigation a.accordion-link h3, .accordion .accordion-navigation .content .hb_answersList h3 {
        font-size: .95rem !important;
        font-weight: 500;
    }


    p, ul li {
        font-size: .75rem;
    }
    p, ul{
        margin: .5rem 0;
    }
    img, tr {
        page-break-inside: avoid;
    }

    // hide all non-print content
    .top-bar, header .sub-brand,
    nav, footer,
    .hide-on-print, .hb_action, .top-bar .right, .meter, #your-answers-heading h3, .site-takeover {
        display: none;
    }
    .accordion{
        margin: 0;
    }
    // expose hidden content
    .accordion .accordion-navigation .content.active, .accordion .accordion-navigation .content {
        display: block;
        height: 100%;
        visibility: visible;
        max-height: 100%;
        opacity: 1;
        padding: 0;
        .hb_answersList li {
            padding: .5rem 0;
            margin: 0;
        }
    }

    .results .accordion {
        padding-bottom: 0;
    }

    .accordion .accordion-navigation a.accordion-link h3 {
        padding-left: 0;
    }

    .meter-description {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}
